html {
  background-color: #efefef;
}

body {
    width: 800px;
}

section {
	clear: both;
}

section div.title {
    font-weight: bold;
    font-size: 200%;
    border-bottom: 2px solid #000000;
    margin-bottom: 10px;
}

section div.text {
	
}

section#intro div.text {
	margin-left: 340px;
}

section div#ss {
    float: left;
}

section div#ss img {
    display: block;
    width: 320px;
    height: 319px;
}
